@using TimeTrackingSystem.Domain.Model
@model ILookup<string, TimeTrackingSystem.Application.ViewModels.TimeSheet.TimeSheetAccountViewModel>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    td:first-child, th:first-child {
        position: sticky;
        left: 0;
        z-index: 1;
    }

    table {
        white-space: nowrap;
    }

    thead tr th {
        position: sticky;
    }
    /* style="background-color: rgb(168, 168, 168);"
    style="border: 1px solid black;" */


    .bs {
        width: 20px;
        height: 20px;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin: 0 auto;
    }

    .present {
        background-color: rgb(7, 112, 33);
    }

    .absent {
        background-color: rgb(236, 10, 2);
    }

    .remote {
        background-color: rgb(147, 127, 236);
    }

    table.table-bordered > tbody > tr > td {
        border: 1px solid black;
        min-width: 100px;
        text-align: center;
    }

    th {
        text-align: center;
    }
</style>


<h2> Calendar</h2>

<div class="container-fluid">
    <div class="overflow-auto" style="height: 70%;">
        <table class="table table-sm table-striped table-hover table-light table-bordered border-dark" cellspacing="0" width="100%">
            <thead class="bg-gradient-light">
                <tr>
                    <th class="bg-gradient-light"> &nbsp</th>
                    @{
                        DateTime date = DateTime.Now;
                        int lastDayOfMonth = (new DateTime(date.Year, date.Month, 1).AddMonths(1).AddDays(-1)).Day;
                    }
                    @for (int i = 1; i <= lastDayOfMonth; i++)
                    {
                        <th>@i<br> @((new DateTime(2021, 9, @i)).DayOfWeek.ToString())</th>
                    }
                </tr>
            </thead>
            <tbody class="flex-nowrap">
            @foreach (IGrouping<string, TimeTrackingSystem.Application.ViewModels.TimeSheet.TimeSheetAccountViewModel> tm in Model)
                    {
                        <tr>
                        <td class="bg-gradient-dark text-white" style="z-index: 1;">@tm.Key</td>
                           @foreach (TimeTrackingSystem.Application.ViewModels.TimeSheet.TimeSheetAccountViewModel p in tm)
                           {
                               <td>@p.TimeSheet.ActivityId</td>
                            }
                            </tr>
                    }
            </tbody>
        </table>
    </div>
</div>


<!-- Logout Modal-->
<!--<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Profile</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="rounded-circle" width="150">
                                <div class="mt-3">
                                    <h4></h4>
                                    <p class="text-secondary mb-1">Full Stack Developer</p>
                                    <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0"></h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0"></h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Phone number</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    (239) 816-9029
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Mobile</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    (320) 380-4539
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h6 class="mb-0">Address</h6>
                                </div>
                                <div class="col-sm-9 text-secondary">
                                    Bay Area, San Francisco, CA
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                <a class="btn btn-primary" asp-controller="Employees" asp-action="LogOut">
                    Send message
                </a>
            </div>
        </div>
    </div>
</div>-->
